################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tools/__pycache__
/Lib
/Scripts
pyvenv.cfg
/share
