################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tools/__pycache__
/Lib
/Scripts
pyvenv.cfg
/share/doc/networkx-2.6.3
/share/man/man1
